#container{
	
	/*border: solid 2px green;*/
	height: 650px;
	background-image: url(pokedex.png);
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: top center;
	text-align: center;
	/*margin: auto;*/
	
}

body{
	margin: 0;
}
#infodiv{
	width: 300px;
	height: 220px;
	
	position: absolute;
	text-align: center;


	margin-top: 365px;
	/*margin-left: 500px;*/
	margin-left: 200px;
	/*border: 2px solid green;*/
}
#btn1{
	/*border: 1px solid red;*/
	width: 45px;
	height: 25px;
	position: absolute;
	cursor: pointer;
	
	
	float: left;
	background-color: transparent;
	margin-top: 465px;
	margin-left: -240px;
	/*background-color: gray;*/
}
#imgdiv{
	margin-top: 90px;
	position: absolute;
	margin-left: -50px;

	

}
#btn3{
	width: 45px;
	height: 25px;
	position: absolute;
	
	float: left;
	background-color: transparent;
	margin-top: 465px;
	margin-left: -300px;
	cursor: pointer;

}

#btn2{
	background-color: transparent;
	border-radius: 50%;
	/*margin-left: 0px;*/
	text-align: center;
	height: 80px;
	width: 80px;
	font-size: 15px;

	position: absolute;

	/*margin-top: -170px;*/
	margin-left: 285px;
	margin-top: 440px;
	cursor: pointer;

	/*outline: none;*/	
}