body{
	margin: 0;
}
#header ul{
	display: inline-flex;
	float: right;
	margin-right: 20px;
	list-style-type: none;
	/*margin: auto;*/
    
	


}
#img{
	height: 100px;
	
	background: #0f84e8;
}
#header ul li{
	margin: 15px;
	border: 1px solid green;
	color: white;
	background: green;
	padding: 10px;
    border-radius: 5px;
	text-align: center;
	cursor: pointer;


	
}
#header{
	border: 2px solid green;
	height: 100px;
	background:  #0f84e8;
}