@keyframes bike {
  from {
    transform: rotateX(0deg);
  } 
  to {
    transform: rotateX(20deg);
  }
}

@keyframes hat {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }
  to {
    transform: translateY(45%) rotateZ(20deg);
  }
}
